.login__container{
    height: 100vh;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:10px;
}

.task {
    background: whitesmoke;
    color: rgb(41, 40, 40);
    margin: 10px 0;
    padding: 10px;
    min-width: 250px;
    text-align: center;
}

.login__container > section{
    padding: 0 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    min-height: 250px;
    border: 1px solid rgb(218, 206, 206);
}

.login__container > section > button{
    border: none;
    background: #0969da;
    padding: 15px 20px;
    line-height: 20px;
    width: 100%;
    margin: 40px 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.login__container > section > button > .link{
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container > section > button > .link > img{
    margin-right: 4px;
    filter: brightness(0) invert(1);
}

.login__container > section > button:hover{
    background: #0d75ec;
}

.login__container > section > footer{
    padding: 15px 20px;
}