.login__container{
    height: 100vh;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:10px;
}

.task {
    background: whitesmoke;
    color: rgb(11, 48, 148);
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.login__container > form{
    padding: 10px 10px 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    border: 1px solid rgb(218, 206, 206);
}

.error {
    color: red;
    font-weight: bold;
    margin: 30px 0;
}

.login__container > form > button,
.login__container > form > input{
    border: none;
    background: #0969da;
    padding: 15px 20px;
    line-height: 20px;
    width: 100%;
    margin: 20px 0 0px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.login__container > form > input{
    border: 1px solid rgb(218, 206, 206);
    background: white;
    color: black;
}

.login__container > form > button {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container > form > button > img{
    margin-right: 5px;
    filter: brightness(0) invert(1);
}

.login__container > form > button:hover{
    background: #0d75ec;
}

.login__container > form > footer{
    padding: 15px 20px;
    margin-top: 40px;
}
