.form {
    padding: 16px 0;
    display: flex;
    background: red;
    width: 100%;
}

.form > .search {
    padding: 7px 12px;
    font-size:14px;
    border-radius: 5px;
    width: 65%;
    margin-right: 10px;
    outline: none;
    border: 1px solid rgb(218, 206, 206);
}

.form > .select, .form > .button{
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgb(218, 206, 206);
    margin-left: 5px;
    background: white;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    transition: 0.5s;
}

.select > img {
    margin-left: 4px;
}


.form > .select:hover{
    background: whitesmoke;
}


.form > .button {
    background: #2da44e;
    color: #fff;
}

.form > .button:hover {
    background: #2b8a46;
}


.form > .button > img {
    margin-right: 4px;
    filter: brightness(1) invert(1);
}



@media screen and (max-width: 870px) {
    /* .form {
        width: 150%;
    } */

    .form {
        flex-direction: column;
    }

    .form > input{
        width: 100%;
    }
    
}