.form {
    padding: 16px 0;
    display: flex;
    width: 100%;
}

.form > .search {
    padding: 7px 12px;
    font-size:14px;
    border-radius: 5px;
    width: 65%;
    margin-right: 10px;
    outline: none;
    border: 1px solid rgb(218, 206, 206);
}

.form > section {
    display: flex;
}

.form > section > .select, .form > section > .button{
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgb(218, 206, 206);
    margin-left: 5px;
    background: white;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    transition: 0.5s;
}

section > .select > img {
    margin-left: 4px;
}


.form > section > .select:hover{
    background: whitesmoke;
}



.form > section > .button {
    background: #2da44e;
    color: #fff;
}


.form > section > .button:hover {
    background: #2b8a46;
}



.form > section > .button > img {
    margin-right: 4px;
    filter: brightness(1) invert(1);
}



@media screen and (max-width: 870px) {

    .form {
        flex-direction: column;
    }

    .form > .search {
        width: 100%;
        margin-bottom: 10px;
    }

    .form > section  > .button {
        display: none;
    }

    
}