.nav, .mobile__nav {
    width: 100%;
    border-bottom: 1px solid rgb(218, 206, 206);
    color: #333;
    position: sticky;
    top: 0;
    z-index: 5;
    background: white;
}

.nav > section, .mobile__nav > section{    
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    padding: 12px 24px 12px;
}

span{
    font-weight: 600;
}

.right__items{
    display: flex;
    width: 71%;
}

.right__items > li {
    list-style-type: none;
    margin-right: 25px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 20px;
    padding: 0 8px;
}

.right__items > li > p {
    margin-left: 5px;
}

.right__items > li:nth-child(2) {
    font-weight: bold;
}

.right__items > li:nth-child(2){
    margin-right: 40px;
}

.right__items > li:nth-child(2)::after {
    content: "";
    height: 2px;
    width: 110%;
    position: absolute;
    left: -10px;
    bottom: -14px;
    background: crimson;
}

.right__items > li > img{
    filter: brightness(0) invert(0.4);
}

.repo__number{
    font-size: 12px;
    padding: 2px 7px;
    border: none;
    background: rgb(235, 233, 225);
    color: rgb(80, 81, 82);
    border-radius: 50%;
    margin-left: 7px;
}

.mobile__nav {
    display: none;
}


@media screen and (max-width: 870px) {
    .nav{
        display: none;
    }

    .mobile__nav {
        margin: 20px 0 0px;
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
    .right__items > li:nth-child(2)::after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        left: -4px;
        bottom: -9px;
        background: crimson;
    }

}   

@media screen and (max-width: 470px) {
    
    .right__items > li {
        margin-right: 5px;
    }
    
    .right__items > li:nth-child(2){
        margin-right: 10px;
    }

    .right__items > li > img{
        display: none;    
    }

    .right__items > li:nth-child(2)::after {
        left: 0;
    }
}   