.nav {
    width: 100%;
    border-bottom: 1px solid rgb(218, 206, 206);
    padding: 30px 20px 12px;
    color: #333;
}

.nav > section{    
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.right__items{
    display: flex;
    flex: 0.7;
}

.right__items > li {
    list-style-type: none;
    margin-right: 50px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.right__items > li > p {
    margin-left: 5px;
}

.right__items > li:nth-child(2) {
    font-weight: bold;
}

.right__items > li:nth-child(2)::after {
    content: "";
    height: 2px;
    width: 130%;
    position: absolute;
    left: -13px;
    bottom: -15px;
    background: crimson;
}

.right__items > li > img{
    filter: brightness(0) invert(0.4);
}
