.nav {
    width: 100%;
    border-bottom: 1px solid rgb(218, 206, 206);
    padding: 30px 20px 12px;
}

.nav > section{    
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}


.right__items{
    display: flex;
    flex: 0.7;
}

.right__items > li {
    list-style-type: none;
    margin-right: 50px;
    font-size: 16px;
    position: relative;
}

.right__items > li:nth-child(2) {
    font-weight: 700;
}

.right__items > li:nth-child(2)::after {
    content: "";
    height: 2px;
    width: 150%;
    position: absolute;
    left: -19px;
    bottom: -15px;
    background: crimson;
}