.layout {
   display: flex; 
   justify-content: space-between;
}

.right{
    width: 78%;
}

.top {
    padding: 16px 0;
    display: flex;
}

.top > .search {
    padding: 7px 12px;
    font-size:14px;
    border-radius: 5px;
    width: 55%;
    outline: none;
    border: 1px solid rgb(218, 206, 206);
}

.top > select, .top > button{
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgb(218, 206, 206);
    margin-left: 15px;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.top > select:hover{
    background: rgb(231, 225, 225);
}


.top > button {
    background: #2da44e;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 14px;
    transition: 0.5s;
}

.top > button:hover {
    background: #2b8a46;
}


.top > button > img {
    margin-right: 4px;
    filter: brightness(1) invert(1);

}

.repo__container{
    border-top: 1px solid rgb(218, 206, 206);
    padding: 24px 0;
    color: #333;
}

.repo__container > .repo__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.repo__container > .repo__top > .left__top > a {
    color: #0969da;
    font-size: 24px;
    letter-spacing: 1px;
    text-decoration: none;
    margin-right: 10px;
}

.repo__container > .repo__top > .left__top > a:hover {
    text-decoration: underline;
}

.left__top {
    display: flex;
    align-items: center;
}

.repo__container > .repo__top > .left__top > button {
    color: #57606a;
    border: 1px solid rgb(218, 206, 206);
    padding: 2px 7px;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
    margin-right: 10px;
}

.left__top > p {
    font-size: 14px;
    margin-left: 15px;
    text-align: right;
 }

.left__bottom {
    display: flex;
}


.left__bottom > button{
    display: flex;
    align-items: center;
    padding: 5px 12px;
    border: 1px solid rgb(218, 206, 206);
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.left__bottom > button > img {
    filter: brightness(0) invert(0.4);
}

.star{
    margin-right: 3px;
}

.left__bottom > .down{
    padding: 5px 8px;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

