.layout {
    display: flex; 
    justify-content: space-between;
    position: relative;   
    padding: 0 24px;
}

.right{
    margin-left: 20px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 870px) {
    .layout{
        flex-direction: column;
        padding: 0 16px;
        font-size: 14px;
    }
    
    .left{
        width: 100%;   
    }

    .right{
        margin-left: 0;
        overflow: hidden;
    }
    
}