.layout {
   display: flex; 
   justify-content: space-between;
}

.right{
    width: 78%;
}

.top {
    padding: 16px 0;
    display: flex;
}

.top > .search {
    padding: 7px 12px;
    font-size:14px;
    border-radius: 5px;
    width: 55%;
    outline: none;
    border: 1px solid rgb(218, 206, 206);
}

.top > select, .top > button{
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgb(218, 206, 206);
    margin-left: 15px;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.top > select:hover{
    background: rgb(231, 225, 225);
}


.top > button {
    background: #2da44e;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 14px;
    transition: 0.5s;
}

.top > button:hover {
    background: #2b8a46;
}


.top > button > img {
    margin-right: 4px;
    filter: brightness(1) invert(1);

}

.repo__container{
    border-top: 1px solid rgb(218, 206, 206);
}

.repo__container > .repo__top {
    display: flex;
    justify-content: space-between;
}