.layout {
   display: flex; 
   justify-content: space-between;
   position: relative;
}

.left > .profile__circle{
    height: 256px;
    width: 256px;
    border-radius: 50%;
    border: 1px solid rgb(218, 206, 206);
    position: absolute;
    z-index: 20;
    background: white;
    top: -20px;   
}

.right{
    width: 76%;
    padding: 0 25px 0 0;
}