.layout {
    display: flex; 
    justify-content: space-between;
    position: relative;   
    padding: 0 24px;
}



.right{
    width: 96%;
    margin-left: 20px;
    position: relative;
    z-index: -1;
}


@media screen and (max-width: 870px) {
    .layout{
        flex-direction: column;
    }
    
    .left{
        width: 100%;   
    }
    

}