.layout {
   display: flex; 
   justify-content: space-between;
}

.right{
    width: 70%;
    padding: 0 25px 0 0;
}

.top {
    padding: 16px 0;
    display: flex;
}

.top > .search {
    padding: 7px 12px;
    font-size:14px;
    border-radius: 5px;
    width: 60%;
    outline: none;
    border: 1px solid rgb(218, 206, 206);
}

.top > .select, .top > .button{
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgb(218, 206, 206);
    margin-left: 15px;
    background: white;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    transition: 0.5s;
}

.select > img {
    margin-left: 4px;
}


.top > .select:hover{
    background: whitesmoke;
}


.top > .button {
    background: #2da44e;
    color: #fff;
}

.top > .button:hover {
    background: #2b8a46;
}


.top > .button > img {
    margin-right: 4px;
    filter: brightness(1) invert(1);
}

.repo__container{
    border-top: 1px solid rgb(218, 206, 206);
    padding: 24px 0;
    color: rgb(100, 98, 98);
}

.repo__container > .repo__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
}

.repo__container > .repo__top > .left__top > .text > a {
    color: #0969da;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
    text-decoration: none;
    margin-right: 10px;
    
}

.repo__container > .repo__top > .left__top > .text > a:hover {
    text-decoration: underline;
}


.left__topz {
    display: flex;
    align-items: center;
}

.left__top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left__top > .text > button {
    color: #57606a;
    border: 1px solid rgb(218, 206, 206);
    padding: 2px 7px;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
    margin-right: 10px;
}

.left__top > .description {
    margin: 14px 0 0;
    font-size: 16px;
    padding: 0 24px 0 0;
    
}


.left__topz > p {
    font-size: 14px;
    margin-left: 15px;
    letter-spacing: 0.9px;
    color: rgb(100, 98, 98);
 }

.left__bottom {
    display: flex;
}


.left__bottom > button{
    display: flex;
    align-items: center;
    padding: 5px 12px;
    margin-top: 5px;
    border: 1px solid rgb(218, 206, 206);
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.left__bottom > button > img {
    filter: brightness(0) invert(0.4);
}

.star{
    margin-right: 3px;
}

.left__bottom > .down{
    padding: 5px 8px;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.language{
    display: flex;
    align-items: center;
}

.language > p {
    font-size: 14px;
    letter-spacing: 0.7px;
}

.color{
    height: 10px;
    width: 10px;
    background: red;
    border-radius: 50%;
    margin-right: 5px;
}

.left__bottom > .chart {
    height: 2px;
    width: 130px;
    background: green;
}